<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innouni.yinongbao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 读写存储卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 访问的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.innouni.yinongbao.activity.WelcomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.innouni.yinongbao.activity.AdDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.MainPageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.FindBackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.ResetPassActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.ResgisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- the PhoneCall activity -->
        <activity
            android:name="com.innouni.yinongbao.activity.counsel.PhoneCallActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- the ask activity -->
        <activity
            android:name="com.innouni.yinongbao.activity.ask.AskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- the exper activity -->
        <activity
            android:name="com.innouni.yinongbao.activity.expert.ExperDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.expert.ExpertMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.innouni.yinongbao.activity.expert.ExperTechnologyDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.expert.ExperListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.expert.ExperCompanyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.expert.ExperAskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- the knowledge activity -->
        <activity
            android:name="com.innouni.yinongbao.activity.knowledge.KnowledgeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.innouni.yinongbao.activity.knowledge.KnowledgeDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.knowledge.KnowLedgeQuestionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- the exhibition activity -->
        <activity
            android:name="com.innouni.yinongbao.activity.exhibition.ExhibitionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.innouni.yinongbao.activity.exhibition.ExhibitionTypeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.exhibition.ExhibitionDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.exhibition.ExhibitionCompanyActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.exhibition.ExhibitionWebDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.exhibition.ExhibitionNewsListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.exhibition.ExhibitionCompanyDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- the pest activity -->
        <activity
            android:name="com.innouni.yinongbao.activity.pest.PestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.innouni.yinongbao.activity.pest.PestTypeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.pest.PestDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" />
        
        <!-- the video activity -->
        <activity
            android:name="com.innouni.yinongbao.activity.video.VideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <!-- the person activity -->
        <activity
            android:name="com.innouni.yinongbao.activity.person.FeedBackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.person.UpdatePWDActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.innouni.yinongbao.activity.person.PersonNoteActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.innouni.yinongbao.activity.group.GroupMianActivity"
            android:label="@string/title_activity_group_mian" >
        </activity>
        <activity
            android:name="com.innouni.yinongbao.activity.group.SearchGroupActivity"
            android:label="@string/title_activity_search_group" >
        </activity>
        <activity
            android:name="com.innouni.yinongbao.activity.group.GroupOfListActivity"
            android:label="@string/title_activity_list_of_group" >
        </activity>
        <activity
            android:name="com.innouni.yinongbao.activity.group.GroupPersonInfo"
            android:label="@string/title_activity_group_person_info" >
        </activity>
        <activity
            android:name="com.innouni.yinongbao.activity.group.GroupInductionActivity"
            android:label="@string/title_activity_group_induction" >
        </activity>
        <activity
            android:name="com.innouni.yinongbao.activity.group.GroupSearchListActivity"
            android:label="@string/title_activity_group_search_list" >
        </activity>

        <!-- add by Hugj -->
        <!-- begin -->

        <activity android:name="com.innouni.yinongbao.activity.person.UserInfoActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.ModifyUserNameActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.MyAskQuestionActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.MyCollectVideoActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.MyGroupActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.PublicPostsActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.HelpCenterActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.ModifySexActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.ModifyDescActivity" />
        <activity android:name="com.innouni.yinongbao.activity.person.HelpCenterItemDetailActivity" />

        <!-- end -->
    </application>

</manifest>